{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/react"
  ],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "prettier/prettier": ["error", { "singleQuote": true }]
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  }
}